body {
    font-family: omnes-semicond, sans-serif;font-size: 14px;
}

.container-fluid{
    width:100%;
    margin-right:auto;
    margin-left:auto;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

.col-2{
   -webkit-box-flex:0;
   -ms-flex:0 0 16.666667%;
    flex:0 0 16.666667%;
    max-width:16.666667%
    box-shadow: 5px 1px 3px #ebebeb;
}

.col-10{
   -webkit-box-flex:0;
   -ms-flex:0 0 83.333333%;
    flex:0 0  83.333333%;
    max-width: 83.333333%
}

.sidenavbar{
  width:auto;
  height:912px;
  background-color:white;
  border:#ebebeb solid 1px;
  box-shadow: 5px 1px 3px #ebebeb;
}

.content {
   width:auto;
   background-color:#f5f5f5;
   border:#ebebeb solid 1px;
   box-shadow: 1px 1px 3px #ebebeb;
   height:auto;
}

.crm-desk {
   display:flex;
   flex-wrap: row nowrap;
   width:auto;
   height:50px;
   box-shadow: 1px 1px 2px #ebebeb;
   background-image:
   linear-gradient(to right, #075cff , #387bfc);
}

 .crm-logo {
   padding-top:12px;
   padding-left:30px;
   width:40px;
   height:25px;
}

.crm-text-white {
  padding-top:15px;
  padding-left:15px;
  color:white;
  width:auto;
  height:auto;
 }

 .sidemenu {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display:flex;
   flex-flow: row nowrap;
   -webkit-flex-flow: row nowrap;
   width:auto;
   height:45px;
 }

 .sidemenu:hover {
   background-color:#f2f6ff;
   border-left-color:blue;
   border-left-width:4px;
   border-left-style:solid;
   color:blue !important;
 }

.sidemenutext {
   padding-top: 18px;
   padding-left: 12px;
   padding-bottom: 10px;
   font-weight:bold;
   color:grey;
   width:auto;
   height:auto;
 }

.sidelogo {
  padding-top:15px;
  padding-left:30px;
  padding-bottom: 10px;
  width:auto;
  height:auto;
}


 hr.bar {
  border: 0;
  height: 0.5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.navbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  border:#ebebeb solid 1px;
  background-color: white;
  box-shadow: 0px 3px 3px #ebebeb;
  width:auto;
  height: 50px;
}

.search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  width:75%;
}

.searchlogo {
  padding-top:15px;
  padding-left:30px;
}

.searcharea {
  padding-top:15px;
  padding-left:15px;
}

.notificationlogo{
  padding-top:15px;
  padding-left:30px;
}

.dropdown {
  padding-top:17px;
  padding-left:5px;
}

.loginpersonimage{
   padding-top:10px;
   padding-left:30px;
}

.loginname{
  colur:black;
  font-size:13px;
  padding-top:15px;
  padding-left:10px;
}

input.searchbox{
  border:0px !important;
  background-color:white;
  width: 100% !important;
  height: auto !important;
}

.menubar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  padding-top:40px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  width:auto;
  height:auto;
}

.invoices {
  font-size:16px;
  font-weight:bold;
  width:60%;
  height:auto;
}

.type {
  color:black;
  font-size:12px;
  font-weight:bold;
  padding-left:21px;
  height:auto;
}
.blue {
  background-image:
   linear-gradient(to right, #075cff , #387bfc);
}
.typebutton{
   border:#ebebeb solid 1px;
   box-shadow: 3px 3px 5px #ebebeb;
   background-color:white;
   padding-left : 8px;
   padding-right: 8px;
   padding-top: 7px;
   padding-bottom: 7px;

}


.cards{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left : 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom:10px;
  grid-column-gap:20px;
  grid-row-gap:40px;
  width:auto;
  height:auto;
}

.card {
   width:292px;
   height:200px;
   padding-left:15px;
   padding-right:15px;
   padding-top:10px;
   padding-bottom:10px;
   background-color: white;
   border:grey solid 1px #ebebeb;
   box-shadow: 5px 5px 4px #ebebeb;
}

.work {
  float:left;
  color:grey;
  font-size:14px;
  padding-bottom:10px;
}

.cardMenu {
  padding-bottom:10px;
  float:right;
}

.price {
  clear:both;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  padding-bottom:15px;
  background-color: white;
  width:auto;
  height:90px;
  border:#ebebeb dotted 3px;
}

.invoiceId {
  float:left;
  color:grey;
  font-size:12px;
}

.priceInRupees {
  clear:both;
  float:left;
  color:black;
  font-size:20px;
  font-weight: bold;
  padding-top:15px;

}

.dueDate {
  float:right;
  color:black;
  font-size:16px;
  padding-top:15px;
  font-weight: bold;
}

.due {
  float:left;
  color:grey;
  font-size:12px;
  padding-top:8px;
  padding-bottom:17px;
}

.priceIn {
  float:right;
  color:grey;
  font-size:12px;
  padding-top:8px;
  padding-bottom:17px;
  padding-right:80px;
}

.personInfo {
  float:left;
  padding-top:15px;
}

.personName {
  padding-left:35px;
  padding-top:20px;
}
